body {
background-color: white;
margin: 1em;
text-decoration: none;
}
.img{
    max-width: 100%;
    margin-bottom: 0.5em;
    display: block;
}
.pin_container {
    columns: 5 320px;
    column-gap: 1.5em;

}
.foo{
    margin: 0%;
    text-decoration: none;
}