.footer {
    width: cover;
    margin-top: 20px;
    padding: 1.4rem !important;
    display: flex !important;
    justify-content: space-around !important;
    
   
}
.container{
    box-shadow: #808080 !important ;
}




.pepe:hover{
  font-size: 17px;
  color: #808080;
}
