
.pepe2{
    
    width: 100%;
    height: 850px;
    margin-top: -550px;
}

.container1{
    background-color: rgba(240, 248, 255, 0);
    text-align: center;
    color:black
}
.ons{
    text-align: center;
    color:grey;
    font-weight: bolder;
}
.container_buttons button{
    text-align: center;
    margin-right: 2rem;
}

.butt{
    font-size: 16px;
    font-weight: bolder;
    
}
.butt:hover{
    font-size: 16.5px; 
    color: grey;}