.container {
    padding: 2rem 10rem;
  }
  .container h1 {
    text-align: center;
  }
  
  .containerData {
    display: flex;
    gap: 2rem;
  }
  
  .image {
    max-width: 400px;
  }
  
  .titleDescription {
    font-size: 24px;
  }