.cont {
    margin-bottom: 500px !important;
  }
  .distance{
    margin-top: 400px !important;
  }
  .question {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    background-color: rgb(231, 34, 34);
    padding: 5px 1rem;
  }
  
  .subtitle {
    font-size: 24px;
    color: gray;
  }
  
  .ask {
    background-color: rgba(0, 255, 170, 0.075);
    margin: 0;
    padding: 1rem;
  }